<a href="https://colab.research.google.com/github/UrukHan/NeuroNetStockQuotes/blob/master/AlphaVintageApi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install alpha_vantage

Collecting alpha_vantage
  Downloading https://files.pythonhosted.org/packages/12/e3/72ec32d859a363c2eebaa42e0d4abb5ac7172a7a77a2307576ceb5fc1b42/alpha_vantage-2.2.0.tar.gz
Collecting aiohttp
  Downloading https://files.pythonhosted.org/packages/7c/39/7eb5f98d24904e0f6d3edb505d4aa60e3ef83c0a58d6fe18244a51757247/aiohttp-3.6.2-cp36-cp36m-manylinux1_x86_64.whl (1.2MB)
     |████████████████████████████████| 1.2MB 4.1MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from alpha_vantage) (2.23.0)
Collecting multidict<5.0,>=4.5
  Downloading https://files.pythonhosted.org/packages/1a/95/f50352b5366e7d579e8b99631680a9e32e1b22adfa1629a8f23b1d22d5e2/multidict-4.7.6-cp36-cp36m-manylinux1_x86_64.whl (148kB)
     |████████████████████████████████| 153kB 13.0MB/s
Requirement already satisfied: chardet<4.0,>=2.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp->alpha_vantage) (3.0.4)
Requirement already satisfied: typing-extensions>=3.6.5; python_version < "3.7" in /usr/local/lib/python3.6/dist-packages (from aiohttp->alpha_vantage) (3.7.4.3)
Collecting idna-ssl>=1.0; python_version < "3.7"
  Downloading https://files.pythonhosted.org/packages/46/03/07c4894aae38b0de52b52586b24bf189bb83e4ddabfe2e2c8f2419eec6f4/idna-ssl-1.1.0.tar.gz
Collecting yarl<2.0,>=1.0
  Downloading https://files.pythonhosted.org/packages/a0/b4/2cbeaf2c3ea53865d9613b315fe24e78c66acedb1df7e4be4e064c87203b/yarl-1.5.1-cp36-cp36m-manylinux1_x86_64.whl (257kB)
     |████████████████████████████████| 266kB 17.3MB/s
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.6/dist-packages (from aiohttp->alpha_vantage) (20.2.0)
Collecting async-timeout<4.0,>=3.0
  Downloading https://files.pythonhosted.org/packages/e1/1e/5a4441be21b0726c4464f3f23c8b19628372f606755a9d2e46c187e65ec4/async_timeout-3.0.1-py3-none-any.whl
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->alpha_vantage) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->alpha_vantage) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->alpha_vantage) (2.10)
Building wheels for collected packages: alpha-vantage, idna-ssl
  Building wheel for alpha-vantage (setup.py) ... done
  Created wheel for alpha-vantage: filename=alpha_vantage-2.2.0-cp36-none-any.whl size=25706 sha256=630e682063c705bf545c19b5fa210dc235ad665736120baf691a0980266259cf
  Stored in directory: /root/.cache/pip/wheels/3a/fa/05/80b0afcbd2a4de8bd2a0c5cd77084e3d3a9cc12c48be9b7f84
  Building wheel for idna-ssl (setup.py) ... done
  Created wheel for idna-ssl: filename=idna_ssl-1.1.0-cp36-none-any.whl size=3161 sha256=28e379b43039278db571d3b86d14f60ae1ecd4e26a1e46ff818b752168c73527
  Stored in directory: /root/.cache/pip/wheels/d3/00/b3/32d613e19e08a739751dd6bf998cfed277728f8b2127ad4eb7
Successfully built alpha-vantage idna-ssl
Installing collected packages: multidict, idna-ssl, yarl, async-timeout, aiohttp, alpha-vantage
Successfully installed aiohttp-3.6.2 alpha-vantage-2.2.0 async-timeout-3.0.1 idna-ssl-1.1.0 multidict-4.7.6 yarl-1.5.1

In [2]:
import requests
import json
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from datetime import timedelta
from google.colab import files
from alpha_vantage.foreignexchange import ForeignExchange
from alpha_vantage.timeseries import TimeSeries
from datetime import datetime

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [3]:
# Очистить журналы от предыдущих вызовов
!rm -rf ./logs/ 
!ls

sample_data  stockQuotes-5m.csv

In [4]:
# Ввод ключа (IQLCQLXYBPW3LH7T)
key = '8C5RUT8LNE2P0F4O' #input('Введите ключ доступа   -   ')

In [18]:
ts = TimeSeries(key = key)
# listCompany = ['MSFT', 'CAT', 'BA', 'GS', 'HD'] 
with open('CompaniesList.txt') as f:
  listTitleCompany = f.read()
  listCompany = listTitleCompany.split(" ")

In [19]:
# Скачивание исторических данных котировок акций
ts = TimeSeries(key = key, output_format = 'pandas')
# Счетчик для задержки между запросами из за количественного их ограничения сервером за минуту
pauseDownload = 0        
for i in range (len(listCompany)):
  # Обработка ошибок по API запросам
  try:
    # Задаем задержку по количеству запросов в минуту
    if pauseDownload % 30 == 0 and pauseDownload != 0:        
      time.sleep(61)
    if pauseDownload == 0:
      # Запрос данных через API
      data, meta_data = ts.get_intraday(symbol = listCompany[i], interval = '5min', outputsize = 'full')  
      # Преоброзование таблиц в нужный нам вид 
      data = data[['1. open', '5. volume']] 
      data.columns = [listCompany[i] + '-P',listCompany[i] + '-V']
      if pauseDownload % 10 == 0 and pauseDownload != 0:
        print(listCompany[i], data.shape[0], end = '\n')
      else:
        print(listCompany[i], data.shape[0], end = '   ')
    else:
      dataConcat, meta_data = ts.get_intraday(symbol = listCompany[i],interval = '5min', outputsize = 'full')
      dataConcat = dataConcat[['1. open', '5. volume']]
      dataConcat.columns = [listCompany[i] + '-P',listCompany[i] + '-V']
      if pauseDownload % 10 == 0 and pauseDownload != 0:
        print(listCompany[i], dataConcat.shape, end = '\n')
      else:
        print(listCompany[i], dataConcat.shape, end = '   ')
      # Объединение таблиц
      data = pd.concat([data, dataConcat], axis = 1)
  except ValueError:
    print(listCompany[i], "Что-то пошло не так")
  pauseDownload += 1
print(data)

MMM 1820   ABT (2136, 2)   ABBV (2031, 2)   ACN (1642, 2)   ATVI (2040, 2)   ADBE (2109, 2)   ADT (1757, 2)   AAP (1642, 2)   AET Что-то пошло не так
AMG (1570, 2)   AFL (1670, 2)
A (1642, 2)   APD (1602, 2)   ARG Что-то пошло не так
AKAM (1701, 2)   AA (1951, 2)   ALXN (1657, 2)   ALLE (1589, 2)   AGN Что-то пошло не так
ADS (1649, 2)   ALL (1641, 2)
GOOG (1864, 2)   MO (2088, 2)   AMZN (2605, 2)   AEP (1653, 2)   AEE (1602, 2)   AXP (1913, 2)   AIG (1838, 2)   AMT (1622, 2)   AMP (1605, 2)   ABC (1616, 2)
AME (1592, 2)   AMGN (1837, 2)   APH (1598, 2)   APC Что-то пошло не так
ADI (1734, 2)   AAL (3704, 2)   ANTM (1607, 2)   AON (1617, 2)   APA (2250, 2)   AIV (1596, 2)
AAPL (3740, 2)   AMAT (2210, 2)   ADM (1648, 2)   AIZ (1569, 2)   T (2954, 2)   ADSK (1719, 2)   ADP (1673, 2)   AN (1621, 2)   AZO (1457, 2)   AVGO (1980, 2)
AVB (1599, 2)   AVY (1593, 2)   BHI Что-то пошло не так
BLL (1620, 2)   BAC (3322, 2)   BXTL Что-то пошло не так
BAX (1605, 2)   BBT Что-то пошло не так
BDX (1662, 2)   BBBY (2045, 2)
BRK-B (2052, 2)   BBY (1982, 2)   BIIB (1678, 2)   BLK (1633, 2)   BA (3354, 2)   BWA (1628, 2)   BXP (1598, 2)   BSX (1650, 2)   BMY (1887, 2)   BRCM Что-то пошло не так
BF-B (1517, 2)   CA Что-то пошло не так
CVC Что-то пошло не так
COG (1658, 2)   CAM Что-то пошло не так
CPB (1748, 2)   COF (1702, 2)   CAH (1630, 2)   KMX (1633, 2)   CCL (3671, 2)
CAT (1887, 2)   CBG Что-то пошло не так
CBS Что-то пошло не так
CELG Что-то пошло не так
CNP (1630, 2)   CERN (1651, 2)   CF (1659, 2)   CHRW (1629, 2)   CHK Что-то пошло не так
CVX (2321, 2)
CMG (1619, 2)   CI (1617, 2)   XEC (1608, 2)   CINF (1597, 2)   CSCO (2903, 2)   C (2754, 2)   CTXS (1649, 2)   CLX (1682, 2)   CME (1650, 2)   CMS (1606, 2)
COH Что-то пошло не так
CCE Что-то пошло не так
CTSH (1698, 2)   CL (1677, 2)   CPGX Что-то пошло не так
CMCSA (1853, 2)   CMA (1640, 2)   CSC Что-то пошло не так
CAG (1635, 2)   COP (1953, 2)
CNX (1638, 2)   ED (1670, 2)   STZ (1635, 2)   GLW (1734, 2)   COST (1832, 2)   BCR Что-то пошло не так
CCI (1630, 2)   CMI (1631, 2)   CVS (2110, 2)   DHR (1645, 2)
DRI (1741, 2)   DVA (1625, 2)   DE (1749, 2)   DLPH (1591, 2)   DAL (3286, 2)   XRAY (1617, 2)   DVN (1970, 2)   DO Что-то пошло не так
DFS (1734, 2)   DISCK (1603, 2)
DISCA (1648, 2)   DG (1838, 2)   DLTR (1870, 2)   D (1690, 2)   DOV (1596, 2)   DHI (1815, 2)   DPS Что-то пошло не так
DTE (1598, 2)   DUK (1705, 2)   DNB (1497, 2)
ETFC (1614, 2)   EMN (1597, 2)   ETN (1629, 2)   EBAY (1987, 2)   ECL (1607, 2)   EIX (1621, 2)   EW (1653, 2)   DD (1791, 2)   EA (1726, 2)   LLY (1705, 2)
EMC Что-то пошло не так
EMR (1671, 2)   ENDP (1705, 2)   ESV Что-то пошло не так
ETR (1589, 2)   EOG (1827, 2)   EQT (1685, 2)   EFX (1507, 2)   EQIX (1593, 2)   EQR (1623, 2)
EES (686, 2)   EL (1587, 2)   ES (1594, 2)   EXC (1731, 2)   EXPE (1784, 2)   EXPD (1538, 2)   ESRX Что-то пошло не так
XOM (3020, 2)   FFIV (1607, 2)   FB (3263, 2)
FAST (1700, 2)   FDX (2070, 2)   FIS (1611, 2)   FITB (1583, 2)   FSLR (1693, 2)   FE (1744, 2)   FISV (1800, 2)   FLIR (1663, 2)   FLS (1513, 2)   FLR (1726, 2)
FMC (1594, 2)   FTI (1848, 2)   F (2746, 2)   FOSL (1552, 2)   BEN (1623, 2)   FCX (2375, 2)   FTR Что-то пошло не так
GME (2452, 2)   GPS (2103, 2)   GRMN (1613, 2)
GD (1630, 2)   GE (3319, 2)   GIS (1591, 2)   GM (2577, 2)   GGP Что-то пошло не так
GPC (1600, 2)   GNW (1913, 2)   GILD (2548, 2)   GS (2087, 2)   GT (1777, 2)
GOOGL (1861, 2)   HRB (1707, 2)   HAL (2109, 2)   HBI (1677, 2)   HOG (1636, 2)   HAR Что-то пошло не так
HRS Что-то пошло не так
HIG (1629, 2)   HAS (1600, 2)   HCA (1602, 2)
HCP Что-то пошло не так
HCN Что-то пошло не так
HP (1624, 2)   HSIC (1602, 2)   HSY (1528, 2)   HES (1599, 2)   HPQ (1996, 2)   HON (1884, 2)   HRL (1568, 2)   HST (1630, 2)
HCBK Что-то пошло не так
HUM (1512, 2)   HBAN (1691, 2)   ITW (1521, 2)   IR (1598, 2)   INTC (3489, 2)   ICE (1579, 2)   IBM (2007, 2)   IFF (1664, 2)   IP (1665, 2)
IPG (1606, 2)   INTU (1714, 2)   ISRG (1631, 2)   IVZ (1727, 2)   IRM (1712, 2)   JBHT (1626, 2)   JEC Что-то пошло не так
JNJ (2081, 2)   JCI (1629, 2)   JOY Что-то пошло не так
JPM (2740, 2)   JNPR (1656, 2)   KSU (1668, 2)   K (1638, 2)   GMCR Что-то пошло не так
KEY (1642, 2)   KMB (1540, 2)   KIM (1658, 2)   KMI (1896, 2)   KLAC (1656, 2)
KSS (2449, 2)   KR (2091, 2)   LB (1888, 2)   LLL Что-то пошло не так
LH (1631, 2)   LRCX (1834, 2)   LM Что-то пошло не так
LEG (1611, 2)   LEN (1806, 2)   LUK Что-то пошло не так
LVLT Что-то пошло не так
LNC (1636, 2)   LLTC Что-то пошло не так
LMT (1678, 2)   L (1629, 2)   LOW (2222, 2)   LYB (1629, 2)   MTB (1528, 2)   MAC (2081, 2)   M (3024, 2)
MNK (2165, 2)   MRO (2692, 2)   MPC (1933, 2)   MAR (1838, 2)   MMC (1607, 2)   MLM (1599, 2)   MAS (1612, 2)   MA (1874, 2)   MAT (1617, 2)   MKC (1592, 2)
MCD (1859, 2)   MHFI Что-то пошло не так
MCK (1575, 2)   MJN Что-то пошло не так
MDT (1749, 2)   MRK (1943, 2)   MET (1726, 2)   KORS Что-то пошло не так
MCHP (1678, 2)   MU (2930, 2)
MSFT (3531, 2)   MHK (1597, 2)   TAP (1637, 2)   MDLZ (1759, 2)   MON Что-то пошло не так
MNST (1667, 2)   MCO (1519, 2)   MSI (1601, 2)   MUR (1676, 2)   MYL (1770, 2)
NDAQ (1624, 2)   NOV (1635, 2)   NAVI (1675, 2)   NTAP (1815, 2)   NFLX (2439, 2)   NWL (1668, 2)   NFX Что-то пошло не так
NEM (2079, 2)   NWSA (1610, 2)   NEE (1665, 2)
GAS Что-то пошло не так
NLSN (1601, 2)   NKE (2019, 2)   NI (1601, 2)   NBL (1734, 2)   JWN (2325, 2)   NSC (1618, 2)   NTRS (1600, 2)   NOC (1535, 2)   NRG (1643, 2)
NUE (1651, 2)   NVDA (3362, 2)   ORLY (1599, 2)   OXY (3257, 2)   OMC (1530, 2)   OKE (1751, 2)   ORCL (2421, 2)   OI (1582, 2)   PCAR (1621, 2)   PH (1515, 2)
PDCO (1616, 2)   PAYX (1656, 2)   PYPL (2428, 2)   PNR (1592, 2)   PBCT (1686, 2)   POM Что-то пошло не так
PEP (1836, 2)   PKI (1622, 2)   PRGO (1674, 2)   PFE (2978, 2)
PCG (2086, 2)   PM (1703, 2)   PSX (1874, 2)   PNW (1601, 2)   PXD (1630, 2)   PBI (1652, 2)   PCL Что-то пошло не так
PNC (1662, 2)   PPG (1606, 2)   PPL (1710, 2)
PX Что-то пошло не так
PCP Что-то пошло не так
PCLN Что-то пошло не так
PFG (1618, 2)   PG (1824, 2)   PGR (1530, 2)   PLD (1636, 2)   PRU (1747, 2)   PEG (1610, 2)   PSA (1600, 2)
PHM (1683, 2)   PVH (1736, 2)   QRVO (1770, 2)   QCOM (2390, 2)   PWR (1612, 2)   DGX (1664, 2)   RL (1651, 2)   RRC (1784, 2)   RTN Что-то пошло не так
O (1763, 2)
RHT Что-то пошло не так
REGN (1670, 2)   RF (1647, 2)   RSG (1603, 2)   RAI Что-то пошло не так
RHI (1592, 2)   ROK (1510, 2)   COL Что-то пошло не так
ROP (1509, 2)   ROST (1748, 2)
RCL (2614, 2)   R (1527, 2)   CRM (2616, 2)   SNDK Что-то пошло не так
SCG Что-то пошло не так
SLB (2078, 2)   SCHW (1757, 2)   SNI Что-то пошло не так
STX (1703, 2)   SEE (1596, 2)
SRE (1599, 2)   SHW (1601, 2)   SIAL Что-то пошло не так
SIG (1764, 2)   SPG (2322, 2)   SWKS (1845, 2)   SNA (1574, 2)   SO (1721, 2)   LUV (2847, 2)   SWN (1965, 2)
SE (2429, 2)   STJ Что-то пошло не так
SWK (1612, 2)   SPLS Что-то пошло не так
SBUX (2239, 2)   HOT Что-то пошло не так
STT (1528, 2)   SRCL (1569, 2)   SYK (1538, 2)   STI Что-то пошло не так
SYMC Что-то пошло не так
SYY (1667, 2)   TROW (1529, 2)   TGT (1928, 2)   TEL (1598, 2)   TE Что-то пошло не так
TGNA (1513, 2)   THC (1604, 2)   TDC (1524, 2)   TSO Что-то пошло не так
TXN (1795, 2)   TXT (1605, 2)   AES (1629, 2)   BK (1686, 2)   CB (1597, 2)   KO (2411, 2)   DOW (1916, 2)   HD (2246, 2)   SJM (1635, 2)   KHC (1948, 2)
TMO (1660, 2)   TIF (1799, 2)   TWX Что-то пошло не так
TWC Что-то пошло не так
TJX (1942, 2)   TMK Что-то пошло не так
TSS Что-то пошло не так
TSCO (1629, 2)   RIG (2671, 2)   TRV (1682, 2)
TRIP (1773, 2)   FOXA (1571, 2)   TYC Что-то пошло не так
TSN (1601, 2)   UA (1875, 2)   UNP (1649, 2)   UAL (3297, 2)   UPS (1815, 2)   URI (1641, 2)   UTX Что-то пошло не так
UNH (1774, 2)   UHS (1586, 2)   UNM (1585, 2)   URBN (1738, 2)   USB (1799, 2)   VLO (1902, 2)   VAR (1613, 2)   VTR (1640, 2)   VRSN (1633, 2)   VZ (2126, 2)
VRTX (1652, 2)   VFC (1638, 2)   VIAB Что-то пошло не так
V (2229, 2)   VNO (1601, 2)   VMC (1603, 2)   GWW (1550, 2)   WMT (2945, 2)   WBA (2231, 2)   DIS (2492, 2)
WM (1638, 2)   WAT (1577, 2)   WFC (3181, 2)   WDC (2270, 2)   WU (1625, 2)   WRK (1662, 2)   WY (1657, 2)   WHR (1618, 2)   WFM Что-то пошло не так
WMB (1601, 2)
WEC (1590, 2)   WYN Что-то пошло не так
WYNN (2160, 2)   XEL (1644, 2)   XRX (1792, 2)   XLNX (1780, 2)   XL Что-то пошло не так
XYL (1601, 2)   YHOO Что-то пошло не так
YUM (1650, 2)
ZION (1626, 2)   ZTS (1613, 2)                        MMM-P  MMM-V  ABT-P  ABT-V  ...  ZION-P  ZION-V  ZTS-P  ZTS-V
date                                             ...
2020-08-17 04:05:00    NaN    NaN    NaN    NaN  ...     NaN     NaN    NaN    NaN
2020-08-17 04:10:00    NaN    NaN    NaN    NaN  ...     NaN     NaN    NaN    NaN
2020-08-17 04:15:00    NaN    NaN    NaN    NaN  ...     NaN     NaN    NaN    NaN
2020-08-17 04:20:00    NaN    NaN    NaN    NaN  ...     NaN     NaN    NaN    NaN
2020-08-17 04:25:00    NaN    NaN    NaN    NaN  ...     NaN     NaN    NaN    NaN
...                    ...    ...    ...    ...  ...     ...     ...    ...    ...
2020-09-14 19:40:00    NaN    NaN    NaN    NaN  ...     NaN     NaN    NaN    NaN
2020-09-14 19:45:00    NaN    NaN    NaN    NaN  ...     NaN     NaN    NaN    NaN
2020-09-14 19:50:00    NaN    NaN    NaN    NaN  ...     NaN     NaN    NaN    NaN
2020-09-14 19:55:00    NaN    NaN    NaN    NaN  ...     NaN     NaN    NaN    NaN
2020-09-14 20:00:00    NaN    NaN    NaN    NaN  ...     NaN     NaN    NaN    NaN

[3840 rows x 832 columns]

In [20]:
# Скачивание исторических данных курсов валют
fe = ForeignExchange(key = key, output_format = 'pandas')
listF = ['EUR', 'BTC', 'CHF', 'JPY', 'CNY', 'GBP', 'RUB']
for i in listF:
  # Обработка ошибок по API запросам
  try:     
    if i == listF[0]:
      # Запрос данных через API
      dataF, meta_dataF = fe.get_currency_exchange_intraday(from_symbol = i, to_symbol = 'USD', interval = '5min', outputsize = 'full') 
      # Преоброзование таблиц в нужный нам вид 
      dataF = pd.DataFrame(dataF['1. open'])
      dataF.columns = [i]
    else:
      dataConcatF, meta_dataF = fe.get_currency_exchange_intraday(from_symbol = i, interval = '5min', to_symbol = 'USD', outputsize = 'full') 
      dataConcatF = pd.DataFrame(dataConcatF['1. open'])
      dataConcatF.columns = [i]
      dataF = pd. concat([dataF, dataConcatF], axis = 1)
    print(i, dataF.shape[0])
  except ValueError:
    print(i, "Что-то пошло не так", end = "\n")
print(dataF)

EUR 974
BTC Что-то пошло не так
CHF 974
JPY 974
CNY 1799
GBP 1799
RUB 1799
                        EUR     CHF     JPY     CNY     GBP     RUB
date
2020-09-03 07:20:00     NaN     NaN     NaN  0.1463     NaN     NaN
2020-09-03 07:25:00     NaN     NaN     NaN  0.1463     NaN     NaN
2020-09-03 07:30:00     NaN     NaN     NaN  0.1463     NaN     NaN
2020-09-03 07:35:00     NaN     NaN     NaN  0.1463     NaN     NaN
2020-09-03 07:40:00     NaN     NaN     NaN  0.1463     NaN     NaN
...                     ...     ...     ...     ...     ...     ...
2020-09-15 14:55:00  1.1847  1.1008  0.0095  0.1474  1.2858  0.0133
2020-09-15 15:00:00  1.1855  1.1015  0.0095  0.1474  1.2862  0.0133
2020-09-15 15:05:00  1.1850  1.1010  0.0095  0.1474  1.2854  0.0133
2020-09-15 15:10:00  1.1845  1.1005  0.0095  0.1474  1.2845  0.0133
2020-09-15 15:15:00  1.1851  1.1007  0.0095  0.1474  1.2847     NaN

[1799 rows x 6 columns]

In [21]:
allData = pd. concat([data, dataF], axis = 1)
allData.shape

(4550, 838)

In [22]:
allData.iloc[400:420, 0:20]

                     MMM-P  MMM-V   ABT-P  ABT-V  ...  AMG-P  AMG-V  AFL-P  AFL-V
date                                              ...
2020-08-19 05:25:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN
2020-08-19 05:30:00    NaN    NaN  100.80  100.0  ...    NaN    NaN    NaN    NaN
2020-08-19 05:35:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN
2020-08-19 05:40:00    NaN    NaN  100.78  510.0  ...    NaN    NaN    NaN    NaN
2020-08-19 05:45:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN
2020-08-19 05:50:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN
2020-08-19 05:55:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN
2020-08-19 06:00:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN
2020-08-19 06:05:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN
2020-08-19 06:10:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN
2020-08-19 06:15:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN
2020-08-19 06:20:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN
2020-08-19 06:25:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN
2020-08-19 06:30:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN
2020-08-19 06:35:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN
2020-08-19 06:40:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN
2020-08-19 06:45:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN
2020-08-19 06:50:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN
2020-08-19 06:55:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN
2020-08-19 07:00:00    NaN    NaN     NaN    NaN  ...    NaN    NaN    NaN    NaN

[20 rows x 20 columns]

In [23]:
# Определение времени для выбрки времени
dayStart = datetime.now() - timedelta(days = 4)
dayStart = dayStart.replace(hour=4, minute=0, second=0, microsecond=0)
dayEnd = datetime.now() - timedelta(days = 1)
dayEnd = dayEnd.replace(hour=20, minute=0, second=0, microsecond=0)
print(dayStart)
print(dayEnd)

2020-09-11 04:00:00
2020-09-14 20:00:00

In [24]:
# Изменяем формат даты в индексе и вырезаем по времени нужный отрезок
#allData.set_index(allData.index.strftime("%H:%M %d-%m-%Y"), inplace=True)
allDataSlice = allData.loc[dayStart:dayEnd]
allDataSlice.shape

(480, 838)

In [41]:
allDataSlice.iloc[160:165, 824:844]

                     XYL-P  XYL-V  YUM-P  YUM-V  ...     JPY  CNY     GBP     RUB
date                                             ...
2020-09-11 17:20:00    NaN    NaN    NaN    NaN  ...  0.0094  NaN  1.2781  0.0133
2020-09-11 17:25:00    NaN    NaN    NaN    NaN  ...  0.0094  NaN  1.2790  0.0133
2020-09-11 17:30:00    NaN    NaN    NaN    NaN  ...  0.0094  NaN  1.2788  0.0133
2020-09-11 17:35:00    NaN    NaN    NaN    NaN  ...  0.0094  NaN  1.2778  0.0133
2020-09-11 17:40:00    NaN    NaN    NaN    NaN  ...  0.0094  NaN  1.2780  0.0133

[5 rows x 14 columns]

In [42]:
allDataSliceTime = allDataSlice.query('index.dt.hour > 3 and index.dt.hour < 20')

In [43]:
allDataSliceTime.shape

(384, 838)

In [44]:
print(allDataSliceTime)

                     MMM-P  MMM-V  ABT-P  ABT-V  ...     JPY     CNY     GBP     RUB
date                                             ...
2020-09-11 04:00:00    NaN    NaN    NaN    NaN  ...  0.0094  0.1462  1.2825  0.0132
2020-09-11 04:05:00    NaN    NaN    NaN    NaN  ...  0.0094  0.1462  1.2828  0.0133
2020-09-11 04:10:00    NaN    NaN    NaN    NaN  ...  0.0094  0.1462  1.2828  0.0133
2020-09-11 04:15:00    NaN    NaN    NaN    NaN  ...  0.0094  0.1462  1.2829  0.0132
2020-09-11 04:20:00    NaN    NaN    NaN    NaN  ...  0.0094  0.1462  1.2829  0.0132
...                    ...    ...    ...    ...  ...     ...     ...     ...     ...
2020-09-14 19:35:00    NaN    NaN    NaN    NaN  ...  0.0095     NaN  1.2863  0.0132
2020-09-14 19:40:00    NaN    NaN    NaN    NaN  ...  0.0095     NaN  1.2862  0.0132
2020-09-14 19:45:00    NaN    NaN    NaN    NaN  ...  0.0095     NaN  1.2861  0.0132
2020-09-14 19:50:00    NaN    NaN    NaN    NaN  ...  0.0095     NaN  1.2860  0.0132
2020-09-14 19:55:00    NaN    NaN    NaN    NaN  ...  0.0095     NaN  1.2859  0.0132

[384 rows x 838 columns]

In [79]:
# Загрузка данных
allDataOld = pd.read_csv('/content/stockQuotes-5m.csv')
# allDataOld = allDataOld.iloc[:300]
allDataOld.index = pd.DatetimeIndex(allDataOld['date'])
allDataOld.drop(['date'], axis=1, inplace=True)
allDataOld.iloc[-5:, 0:20]

                       MMM-P    MMM-V     ABT-P  ...   AMG-V   AFL-P    AFL-V
date                                             ...
2020-09-14 12:35:00  168.425  10530.0  106.3685  ...  8546.0  37.240  18129.0
2020-09-14 12:40:00  168.450  12797.0  106.3300  ...  2001.0  37.295  26302.0
2020-09-14 12:45:00  168.575  13949.0  106.3100  ...  1029.0  37.355  20814.0
2020-09-14 12:50:00  168.600   7548.0  106.2400  ...  2949.0  37.350  20839.0
2020-09-14 12:55:00  168.590  15455.0  106.2300  ...  2156.0  37.350  39898.0

[5 rows x 20 columns]

In [80]:
# Нахождение последнего индекса таблицы (последняя запись даты)
daySliceAdd = allDataOld.iloc[-1].name
daySliceAdd = daySliceAdd + timedelta(minutes = 5)

In [82]:
addData = allDataSliceTime.loc[daySliceAdd:]
print(addData)

                      MMM-P    MMM-V   ABT-P  ...     CNY     GBP     RUB
date                                          ...
2020-09-14 13:00:00  168.76  21955.0  106.17  ...  0.1467  1.2867  0.0132
2020-09-14 13:05:00  168.84  39260.0  106.25  ...  0.1467  1.2874  0.0132
2020-09-14 13:10:00  169.06  26661.0  106.17  ...  0.1467  1.2891  0.0132
2020-09-14 13:15:00  168.71  18444.0  106.08  ...  0.1468  1.2902  0.0132
2020-09-14 13:20:00  169.03  20769.0  106.05  ...  0.1468  1.2893  0.0132
...                     ...      ...     ...  ...     ...     ...     ...
2020-09-14 19:35:00     NaN      NaN     NaN  ...     NaN  1.2863  0.0132
2020-09-14 19:40:00     NaN      NaN     NaN  ...     NaN  1.2862  0.0132
2020-09-14 19:45:00     NaN      NaN     NaN  ...     NaN  1.2861  0.0132
2020-09-14 19:50:00     NaN      NaN     NaN  ...     NaN  1.2860  0.0132
2020-09-14 19:55:00     NaN      NaN     NaN  ...     NaN  1.2859  0.0132

[84 rows x 838 columns]

In [85]:
allDataSliceTime = pd.concat([allDataOld, addData], axis = 0)
print(allDataSliceTime)

                     MMM-P  MMM-V  ABT-P  ABT-V  ...     JPY     CNY     GBP     RUB
date                                             ...
2020-09-11 04:00:00    NaN    NaN    NaN    NaN  ...  0.0094  0.1462  1.2825  0.0132
2020-09-11 04:05:00    NaN    NaN    NaN    NaN  ...  0.0094  0.1462  1.2828  0.0133
2020-09-11 04:10:00    NaN    NaN    NaN    NaN  ...  0.0094  0.1462  1.2828  0.0133
2020-09-11 04:15:00    NaN    NaN    NaN    NaN  ...  0.0094  0.1462  1.2829  0.0132
2020-09-11 04:20:00    NaN    NaN    NaN    NaN  ...  0.0094  0.1462  1.2829  0.0132
...                    ...    ...    ...    ...  ...     ...     ...     ...     ...
2020-09-14 19:35:00    NaN    NaN    NaN    NaN  ...  0.0095     NaN  1.2863  0.0132
2020-09-14 19:40:00    NaN    NaN    NaN    NaN  ...  0.0095     NaN  1.2862  0.0132
2020-09-14 19:45:00    NaN    NaN    NaN    NaN  ...  0.0095     NaN  1.2861  0.0132
2020-09-14 19:50:00    NaN    NaN    NaN    NaN  ...  0.0095     NaN  1.2860  0.0132
2020-09-14 19:55:00    NaN    NaN    NaN    NaN  ...  0.0095     NaN  1.2859  0.0132

[384 rows x 838 columns]

In [87]:
# Сохранение и скачивание данных
allDataSliceTime.to_csv('stockQuotes-5m.csv')
files.download('stockQuotes-5m.csv')